{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Договоры заявки</h3>

<ul class="f-nav f-nav-tabs">
    <li><a href="/contract">Список</a></li>
    <li><a href="/newcontract">Новая заявка</a></li>
    <li class="active"><a href="/contractopt">Группа рассылки</a></li>
</ul><!-- f-nav f-nav-tabs -->


<div class="f-message f-message-error">
    <h3><center>Доступ запрещен!</center></h3>
</div><!-- f-message -->



</div><!-- g-row -->
</div><!-- g -->

{% include "footer.html" %}
