{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Договоры заявки</h3>

{% include "contract/contractinfo.html" %}


<ul class="f-nav f-nav-tabs">
    <li><a href="/editcontract">Заявка</a></li>
    <li><a href="/page2contract">Подготовленный<br>договор</a></li>
    <li><a href="/page3contract">Дополнительные<br>документы</a></li>
    <li><a href="/page4contract">Статус</a></li>
    <li><a href="/page5contract">Согласование</a></li>
    <li><a href="/page6contract">Email<br>руководителю</a></li>
    <li><a href="/page7contract">Email<br>уведомление</a></li>
    <li class="active"><a href="/page8contract">Лист<br>согласования</a></li>
</ul><!-- f-nav f-nav-tabs -->


<div class="f-message f-message-error">
    <h3><center>Доступ запрещен!</center></h3>
</div><!-- f-message -->


</div><!-- g-row -->
</div><!-- g -->

{% include "footer.html" %}
