{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<p></p>

{% include "contract/contractinfo.html" %}


<ul class="f-nav f-nav-tabs">
    <li><a href="/editcontract">Заявка</a></li>
    <li><a href="/page2contract">Подготовленный<br>документ</a></li>
    <li><a href="/page3contract">Дополнительные<br>документы</a></li>
    <li><a href="/page4contract">Статус</a></li>
    <li><a href="/page5contract">Согласование</a></li>
    <li class="active"><a href="/page6contract">Email<br>руководителю</a></li>
    <li><a href="/page7contract">Email<br>уведомление</a></li>
    <li><a href="/page8contract">Лист<br>согласования</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Запрос подписи у руководителя</h3>
<h3>Отправлен на email: {{ data.7 }}</h3>


<center>
    <form action="" method="post" class="forms">{% csrf_token %}
	<fieldset>
	    <legend>
	    </legend>
	    <div class="f-row">
		<label>{{ form.email.label }}</label>
		<div class="f-input">{{ form.email }}</div>
	    </div><!-- f-row -->
	</fieldset>
	<div class="f-actions"><button type="submit" class="f-bu">Отправить сообщение</button></div>
    </form>

</center>




</div><!-- g-row -->
</div><!-- g -->

{% include "footer.html" %}
